{% extends "base.html" %}

{% block title %}
  Сброс пароля
{% endblock %}

{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card col-4 m-3">
      <div class="card-header">
        Отправить письмо для сброса пароля
      </div>

      <div class="card-body">
        <form method="post" action="/auth/password_reset/">
          {{ csrf_input(request) }}
          <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" id="email" type="email" name="email" value="{{ values.email if values is defined and values.email is defined else "" }}" required>
          </div>

          <button class="btn btn-primary" type="submit">Отправить письмо</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
