{% extends "base.html" %}

{% block title %}
  Восстановление пароля
{% endblock %}

{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card col-5 m-3">
      <div class="card-header">
        Восстановление пароля
      </div>

      <div class="card-body">
        {% if validlink %}
          <p class="text-muted">
            Задайте новый пароль для пользователя <b>{{ reset_username }}</b>.
          </p>

          <form method="post">
            {{ csrf_input(request) }}

            <div class="mb-3">
              <label class="form-label" for="new_password1">Новый пароль</label>
              <input class="form-control" id="new_password1" type="password" name="new_password1" required>
            </div>

            <div class="mb-3">
              <label class="form-label" for="new_password2">Подтверждение нового пароля</label>
              <input class="form-control" id="new_password2" type="password" name="new_password2" required>
            </div>

            <button class="btn btn-primary" type="submit">Поменять пароль</button>
          </form>
        {% else %}
          <p class="text-danger">
            Ссылка восстановления недействительна или устарела.
          </p>

          <p>
            <a href="/auth/password_reset/">Создать новую ссылку восстановления</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
